<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <a class="navbar-brand" href="#"><img src="https://dummyjson.com/image/150" alt="LOGO" class="rounded small "></a>
        
        
      <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto   ">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/explore" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Explore </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/commissions" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Commisions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/profile" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">profile </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/sign-up" class="btn custom-btn btn-sm">Sign-up</a>
                </li>
            </ul>
        </div>
        
        
    </div>
  </nav>


  