<div class="container-fluid">
    <div class="row container-row ">
        <div class="d-flex justify-content-center  align-items-center">
            <p>LOGO</p>
            <ul class="d-flex justify-content-center align-items-center ">
                <div></div>
                <li>first</li>
                <li>2nd</li>
                <li>3rd</li>
                <li>IMG</li>
            </ul>
            <input type="text" placeholder="Search" name="" id="" class="form-control input-width mb-3" >
            <button type="submit" class="btn custom-color  ">Login</button>
            <button type="submit" class="btn custom-color ">Sign</button>
        </div>
    </div>
</div>