
<div class="row container-login">
    <div class="col-md-4">
        <form action="" class="p-4">
            <h4 class="mb-4 text-center">Login</h4>
            <div class="mb-4">
                <label for="USERNAME" class="form-label">Username</label>
                <input type="text" class="form-control" name="USERNAME" id="USERNAME">
            </div>
            <div class="mb-4">
                <label for="PASSWORD" class="form-label">Password</label>
                <input type="text" class="form-control" name="PASSWORD" id="PASSWORD">
            </div>
            
            <button type="submit" class="btn custom-color w-100 mb-4 ">Login</button>
            <p class="text-center ">Already have an account ? <a class="link" routerLink='/login' >Log in</a></p>
        </form>
    </div>
</div>
