<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center ">
            <input type="text" class="search w-50" name="search" id="">
        </div>
    </div>
    <div *ngIf="profiles">
        <div *ngFor="let item of profiles" >
            <div class="card my-3 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex align-items-center mb-3 ">
                                <a [routerLink]="['/profile', item.Username,'portfolio']"><img [src]="item.pfpURL" class="rounded-circle pfp" alt=""></a>
                                <div class="head ">
                                    <a [routerLink]="['/profile', item.Username,'portfolio']"><h3>{{item.Username}}</h3></a>
                                    <p class="opacity">{{item.Headline}}</p>
                                    <button [routerLink]="['/profile', item.Username,'portfolio']" class="btn custom-btn">View profile</button>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col d-flex align-items-center categories-container">
                                    <ng-container *ngFor="let categ of item.categories; let last = last">
                                        <p class="card-text opacity categories">{{categ}}{{!last ? "," : ""}} </p>
                                    </ng-container>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <p>hi</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
