<div class="row">
    <div class="col">
        <div class="head d-flex align-items-center mb-5 ">
            
            <img src="https://dummyjson.com/image/150" class="rounded-circle" alt="Avatar">
                <div class="name">
                    <p style="opacity: .6;">Settings</p>
                    <h2>kotb gharbi</h2>
                </div>
        </div>
            
            <ul>
                <li>
                    <button routerLink="profile" routerLinkActive="active"> <i class="fas fa-user left"></i>Profile <i class="fas fa-arrow-right opacity"></i></button>
                </li>
                <li>
                    <button routerLink="socials" routerLinkActive="active"> <i class="fas fa-share-nodes left"></i>Socials <i class="fas fa-arrow-right opacity"></i></button>
                </li>
                <li>
                    <button routerLink="settings" routerLinkActive="active"> <i class="fas fa-gear left"></i>Settings <i class="fas fa-arrow-right opacity"></i></button>
                </li>
            </ul>
    </div>
</div>