<div class="row">
    <div class="col">
        <div class="head d-flex align-items-center mb-5 ">
            
            <img [routerLink]="['/profile',currentUsername]" [src]="profile.pfpURL" class="rounded-circle avatar" alt="Avatar">
                <div class="name">
                    <p style="opacity: .6;">Settings</p>
                    <h3>{{profile.Username}}</h3>
                </div>
                
        </div>
            
            <ul>
                <li>
                    <button routerLink="profile" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"> <i class="fas fa-user left"></i>Profile <i class="fas fa-arrow-right opacity"></i></button>
                </li>
                <li>
                    <button routerLink="socials" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"> <i class="fas fa-share-nodes left"></i>Socials <i class="fas fa-arrow-right opacity"></i></button>
                </li>
                <li>
                    <button routerLink="settings" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"> <i class="fas fa-gear left"></i>Settings <i class="fas fa-arrow-right opacity"></i></button>
                </li>
            </ul>
    </div>
</div>