<div class="container">
    <div class="row container-signup">
        <div class="col-md-4">
            <form class="pt-4 " (ngSubmit)="OnSignupSubmit(SignupForm.value)" #SignupForm="ngForm" >
                <h4 class="mb-4 text-center">Sign-up</h4>
                <div class="mb-4 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="Username" placeholder ="Username" required ngModel>
                </div>
                
                <div class="mb-4">
                    <label for="email" class="form-label ">Email</label>
                    <input type="email" name="Email" class="form-control " placeholder ="example@gmail.com" required ngModel>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="Password"  placeholder ="Password" required ngModel>
                </div>
            
                <p class="mb-2 text-center ">i want to register as : </p>

                <div class=" mb-4 radio-buttons text-center ">
                    <input type="radio" id="option1" name="type" value="C" required ngModel>
                    <label for="option1">Client</label>
                    
                    <input type="radio" id="option2" name="type" value="A" required ngModel>
                    <label for="option2">Artist</label>
                </div>

                <button type="submit" class="btn custom-color  w-100 mb-4 ">Sign-up</button>
                <p class="text-center">Already have an account  ? <a class="link" routerLink='/login'>Login</a></p>
                
            </form>
        </div>
    </div>
</div>