<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card profile">
                <div class="card-body profile-body text-center">
                    
                    <img *ngIf="profile?.pfpURL" [src]="profile.pfpURL" alt="avatar" class="card-img-top rounded-circle">
                        
                    <h2 *ngIf="profile?.Username" class="card-title mt-2">{{profile.Username}}</h2>
                    
                    <p *ngIf="profile?.Headline" class="card-text text-center mt-1 opacity">{{profile.Headline}}</p>

                    <p *ngIf="profile?.Description" class="card-text text-center mt-1">{{profile.Description}}</p>

                    <p class="text-info ">Skills :</p>

                    <div *ngIf="profile?.categories" class="text-center">
                        <span  *ngFor="let item of profile.categories" >
                            <a class="btn skill"> {{item}}</a>
                        </span>
                    </div>
                    <div *ngIf="loggedin && !different">
                        <a routerLink="/profile/edit/profile" class="btn custom-btn w-100 mt-4"> <i class="fas fa-pen"></i> Edit profile</a>
                    </div>
                    <div *ngIf="loggedin && different">
                        <a routerLink="/profile/send-commision" class="btn custom-btn w-100 mt-4"> <i class="fas fa-pen"></i> Send Commision</a>
                    </div>                    

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
            <div class="row">
                <div class="p-4 d-flex justify-content-center align-items-center wrapper ">
                    <ul class="d-flex justify-content-center  align-items-center ">
                        <li class="bar-elements" routerLink="portfolio" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"><a> Portfolio</a></li>
                        <li class="bar-elements" routerLink="commissions" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"><a> Commissions </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 "></div>
</div>


