
.card-img-top{
    height: 150px;
    width: 150px;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
}
.profile-body{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.profile{
    background-color: #202024 ;
    border: none;
    color: white;
    border-radius: 16px;   
}

.custom-btn{
    color: white;
    background-color: #17181b ;
    border-radius: 10px;
    padding: 8px ;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background-color: rgb(48, 70, 132);
}


.skill{
    color: #fff;
    background-color: rgb(48, 70, 132);
    margin: 5px;
    pointer-events: none;
}

ul {
    padding: 0; 
    background-color: #fff;
    border-radius: 200px;
    z-index: 10;
    position: fixed;
    bottom: 24px;
}

.bar-elements{
    list-style: none;
    display: inline-block;
    margin: 3px;
    padding: 15px;
    cursor: pointer;
    transition: opacity .5s;
    border-radius: 200px;
    
}
a{
    padding: 10px;
}
.bar-elements:hover::target-text{
    opacity: .8;
}
.active {
    background-color: black;
    color: white;
}
